.tasks-panel {
    background-color: #fff;
    flex: 1 0 80%;
    display: flex;
    flex-direction: column;
    margin-right: 5px;
}

.tasks-panel__actions-row {
    display: flex;
    justify-content: space-between;
}

button.tasks-panel__action {
    background-color: #00cc00;
    border: none;
    padding: 5px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s;
}

button.tasks-panel__action:hover {
    background-color: #01bd01;
    transition: background-color 0.5s;
}

.tasks-panel__tabs {
    height: 40px;
    flex: 0 0 20px;
    margin: 5px 0 0;
}

.tasks-panel__tab {
    display: inline-block;
    position: relative;
    visibility: hidden;
}

.tab-today div {
    background-color: #FF7400;
}

.tasks-panel__tab-label {
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    border-radius: 5px;
}

.tasks-panel__tab-line {
    width: 2px;
    position: absolute;
    z-index: 5;
    left: calc(50% - 1px);
    top: 100%;
}

.tasks-panel__schedule {
    flex: 1 0;
}

.tasks-panel__row {
    background-color: #fff;
    border-bottom: 2px #ccc solid;
    display: flex;
    position: relative;
}

.tasks-panel__user {
    background-color: #00cc00;
    width: 100px;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    border-right: 1px #ccc solid;
}

.tasks-panel__tasks-wrapper {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    /* transition: left 0.1s ease-in-out; */
}

.tasks-panel__task {
    flex: 1 1;
    background-color: #5b88a3;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #ccc solid;
}

.tasks-panel__task .tooltip {
    visibility: hidden;
    opacity: 0;
    width: 200px;
    background-color: #ccc;
    color: #100C02;
    font-size: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    left: 50px;
    top: 0;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.tasks-panel__task:hover .tooltip {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    white-space: pre-line;
}

.days-row {
    height: 30px;
    padding-left: 100px;
}

.user-row {
    height: 100px;
}

#default-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks-panel__day {
    width: 150px;
    border: 1px solid #ccc;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 6px;
}